@model IEnumerable<DapperMVC5_Demo.Models.Employees>

@{
    ViewBag.Title = "Index";
}

<h2>List of Employee</h2>

<table class="table table-bordered">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Position)</th>
        <th>@Html.DisplayNameFor(model => model.Office)</th>
        <th>@Html.DisplayNameFor(model => model.Age)</th>
        <th>@Html.DisplayNameFor(model => model.StartDate)</th>
        <th>@Html.DisplayNameFor(model => model.Salary)</th>
        <th>@Html.DisplayNameFor(model => model.DepartmentId)</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Position</td>
            <td>@item.Office</td>
            <td>@item.Age</td>
            <td>@item.StartDate.ToString("dd-MMM-yyyy")</td>
            <td>@item.Salary</td>
            <td>@item.DepartmentId</td>
        </tr>
    }

</table>
